

{% block index %} 

<!-- third section - Services -->
<div id="skills" class="pad-section">
	<div class="container">
		<h2 class="text-center">Skills</h2> <hr />
		<div class="row text-center">
			<div class="col-sm-4 col-xs-6">
				<span class="popuptext" id="myPopup"></span>
				<i class="glyphicon glyphicon-equalizer"> </i>
				<h4>Process</h4>
				<p>It is important for product owners to define key proceses in how the project team should work together.</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<i class="glyphicon glyphicon-comment"> </i>
				<h4>Research</h4>
				<p>Qualitative data is retrieved from clients or customers using discussions and interviews</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<i class="glyphicon glyphicon-signal"> </i>
				<h4>Visualize</h4>
				<p>Quantitative data and data visualization is a tool used to see a project's impact</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<i class="glyphicon glyphicon-list"> </i>
				<h4>Plan</h4>
				<p>Once a need is identified, the project leads must identify how to prioritze through steering and roadmapping</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<i class="glyphicon glyphicon-screenshot"> </i>
				<h4>Execute</h4>
				<p>Agile development should be used to ensure developer's understanding and customer satisfaction</p>
			</div>
			<div class="col-sm-4 col-xs-6">
				<i class="glyphicon glyphicon-ok"> </i>
				<h4>Quality</h4>
				<p>Quality Assurance is the key to understanding and deliverying a well thought out and cohesive product</p>
			</div>
		</div>	
	</div>
</div>
<!-- /third section -->

{% endblock index%}