
{% block index %}

<!-- fifth section -->
<div id="contact" class="pad-section">
	<h2 class="text-center">Contact</h2> <hr />
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h3>If you would like to speak with me or schedule an interview, please contact me below:</h3>
				<br />
				<h4>Phone: 443-632-6191</h4>
				<h4>Email: <a href="mailto:jbscheine@gmail.com">jbscheine@gmail.com</a></h4>
				<h4>LinkedIn: <a href="https://www.linkedin.com/in/joseph-scheiner-25a06739/" target="_blank">Joseph Scheiner<a/></h4>
			</div>
		</div>
	</div>
</div>
<!-- /fifth section -->

{% endblock index%}