

{% block index %} 

<!-- fourth section - Information -->
<div id="testimonials" class="pad-section">
	<div class="container">
		<h2 class="text-center">Testimonials</h2> <hr />
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
					<h2 class="panel-title">Letter from Client</h2>
					</div>
					<div class="panel-body lead">
						"Joe, I know I am leaving this org but I want you to know that if you have any needs at all I am here to help. 
						<br />
						<br />
						I believe you to be one of the strongest new leads I have ever had the pleasure of working with. The frustrations and aggravations of this job will never go away BUT once you have more experience some of them will be minimized. I really hope that cognizant as an org knows what value you bring to your role but if they don’t W****** would be lucky to have you."
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Letter to Client Manager</h2>
					</div>
					<div class="panel-body lead">
					"I want to take moment to share how well Joseph Scheiner performed on the UAT testing. Joe came onboard and took ownership of the UAT testing. 
					He championed and lead the UAT team through all the challenges and issues. <br />
					<br />
					Joe required little to no supervision from me. During status calls Joe information was on point and timely.
					Without Joe’s effort I’m not sure how success the UAT testing would have been. Thank you for having such high quality staff."
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Letter to Client Manager</h2>
					</div>
					<div class="panel-body lead">
					"I wanted to give you some feedback on Joe Scheiner and the UAT team... I know when we first met we thought we needed more resources to assist with UAT as we were missing our key dates. We met as a team including Joe and discussed moving some tasks like test matrix, test cases and test claims creation earlier in our UAT cycle. This has proved to be quite a time saver and we have met our UAT dates several times now due to this change. I think Joe and team are doing a great job in helping us to implement our initiatives on time and with the best quality. Thanks so much."
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /fourth section -->

{% endblock index%}